venv/
*.pyc
logs/

# C++ Build artifacts
build/
python_modules/
.deps/
.open3d-build/
.Open3d.dir/
.Open3D.dir/
*.pyd
*.so
*.dll
*.obj
*.o
*.a
*.lib
*.exp
*.cmake
CMakeCache.txt
CMakeFiles/

# IDE
.vs/
.vscode/.vs/
